<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f0f1be">  <td>22/06/13 19:23:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UpdatedDbTest.testForConnect()[pri:0, instance:com.dbconnection.UpdatedDbTest@1d119efb]">&gt;&gt;testForConnect</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="f0f1be">  <td>22/06/13 19:23:09</td>   <td>231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdatedDbTest.testForInsertion()[pri:0, instance:com.dbconnection.UpdatedDbTest@1d119efb]">testForInsertion</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="f0f1be">  <td>22/06/13 19:23:09</td>   <td>247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UpdatedDbTest.testfordatafetch()[pri:0, instance:com.dbconnection.UpdatedDbTest@1d119efb]">testfordatafetch</td> 
  <td>main@640070680</td>   <td></td> </tr>
</table>
